 A:link, A:active, A:visited { 
    text-decoration: none;
	font-size: 14px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    color: #0040ff; /* Цвет ссылки */	/* Убирает подчеркивание для ссылок */
	}   
body{
	font-family: Arial, sans-serif;
	font-size: 15px;
	}
h1 	{ 
    font-size: 38px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    color: red; /* Цвет */	
    text-align: center; /* Выравнивание по ширине */
	}
h2 	{ 
    font-size: 27px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    color: #0033cc; /* Цвет ссылки */	/* Убирает подчеркивание для ссылок */
    text-indent: 7em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
   }
h5 { 
	font-size: 17px; /* Размер шрифта */
	font-weight: bold; /* Жирное начертание */
	color: #002699; /* Цвет ссылки */	/* Убирает подчеркивание для ссылок */
	text-indent: 7em; /* Отступ первой строки */
	text-align: justify; /* Выравнивание по ширине */
   }
P { 
	text-indent: 10em; /* Отступ первой строки */
	text-align: justify; /* Выравнивание по ширине */
   }
   
.olist {
	text-indent: 7em;}
.fig {
	text-indent: 0em; /* Отступ первой строки */
	text-align: center; /* Выравнивание по центру */ 
   }
 table {
	align: center
	border: 1px solid #ccc;
    border-spacing: 3px;
	text-align: left;
	border-collapse: collapse;
	background: #f4f6f9;
			
    }
         
td, th{
    border: solid 1px #ccc;
	margin: 15px; /* внешний отступ */
	padding: 11px; /* внутренний отступ */
	border: 1px solid black; /* границы шириной в 3 пикселя сплошной красной линией */
        }
.toprow {
	background: #7a8faa;
	color: white;
	font-weight: bold;
	font-size: 17px;
	text-shadow: 2px 1px 2px black; /* Параметры тени */
	}
		
.widecolumn {
	width: 600px;
}
		
.indexator {
	color: red;
	font-size: 7px;	
}

.toTop {
	width: 50px;
	height: 50px;
}
.line1 {
	background-color: #0033cc;
	border:0px none;
	height: 4px;
}

.line2 {
	border:0px none;
	background-color: #0040ff;
	height: 1px;
}
    